.featuredPosts {
  display: grid;
  gap: 10px;
  place-items: center;
}

@media only screen and (max-width: 767px) {
  .featuredPosts {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .featuredPosts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .featuredPosts {
    grid-template-columns: repeat(1, 1fr);
  }
}
