.postsContainer {
  display: grid;
  gap: 5px;
  place-items: center;
  grid-auto-flow: row dense;
}

@media only screen and (max-width: 767px) {
  .postsContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 768px) {
  .postsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .postsContainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .postsContainer .post:nth-child(4n + 1) {
    grid-column: 1 / span 2;
  }

  .postsContainer .post:nth-child(4n + 2) {
    grid-column: 2 / span 2;
  }

  .postsContainer .post:nth-child(4n + 5) {
    grid-column: 1 / span 3;
  }

  .postsContainer .post:nth-child(4n + 6) {
    grid-column: 1 / span 2;
  }
}
