.mainContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  overflow: hidden;
  min-height: 100vh;
}

.asideContent {
  border-left: 2px solid #f4f4f4;
  text-align: center;
}

@media only screen {
  .mainContainer {
    flex-direction: column;
  }
  .mainContent,
  .asideContent {
    flex: 1;
  }
}

@media (min-width: 1200px) {
  .mainContainer {
    flex-direction: row;
  }
  .mainContent {
    flex: 3;
  }

  .asideContent {
    flex: 1;
  }
}
