@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
  --light: #f4f4f4;
  --orange: #ff7315;
  --gray: #3a3535;
  --black: #232020;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
}

h1,
h2,
h3,
h4 {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

/* p {
  font-family: 'Roboto', sans-serif;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.kg-card.kg-image-card {
  margin: 0;
  width: 100%;
}

.kg-card.kg-image-card .kg-image {
  width: 100%;
}

.kg-card.kg-gallery-card.kg-width-wide {
  margin: 0;
  width: 100%;
}

.kg-gallery-container {
  width: 100%;
  height: 100%;
}

.kg-gallery-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.kg-gallery-image img {
  padding: 20px;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 600px) {
  .kg-gallery-row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  /* .kg-gallery-image img:hover {
    transform: scale(2);
  } */

  .kg-gallery-image img {
    padding: 20px;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1200px) {
  .kg-gallery-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  /* .kg-gallery-image img:hover {
    transform: scale(2);
  } */

  /* .kg-gallery-image img {
    padding: 20px;
    width: 100%;
    height: 100%;
  } */
}
